<!-- <div>
    <button type="button" class="bg-slate-900 px-3 py rounded-full text-slate-100 hover:bg-slate-700 text-lg"><slot /></button>
</div> -->

<div>
    <button type="button" class="bg-slate-900 text-white px-8 py-4 text-xl hover:bg-white hover:text-black rounded-full">
        <slot /></button>
</div>